#root {
  display: grid;
  place-items: center;
  box-sizing: border-box;
}
.cont {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.btns {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.binsvg {
  width: 20px;
  height: 20px;
}
.editsvg {
  width: 20px;
  height: 20px;
}
.items {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: max-content;
  width: 90%;
  padding: 5px;
  text-align: center;
  margin: 0 20px 0 20px;
}
.shufflename {
  font-weight: 700;
  font-size: 1.6em;
}
.student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 80%;
  border-radius: 10px;
  padding: 0 15px 0 15px;
  margin: 10px;
  font-size: 1.2em;
}
.namecont {
  max-width: 60%;
}
.priorinput {
  font-size: 1em;
  width: 60px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}
.delete {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: min-content;
  height: min-content;
  color: black;
  font-size: 1em;
  margin-left: 5px;
  background-color: white;
  box-shadow: 0 0 0;
}
.delete:active {
  box-shadow: none;
  transform: translate(0, 4px);
}
.tablename {
  font-size: 2em;
}
.editcont {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.sncont {
  width: max-content;
  word-break: break-all;
}
button {
  transition-duration: 0.2s;
  box-shadow: 0 8px black;
  font-size: 1.8em;
  color: white;
  width: 120px;
  height: 120px;
  border-radius: 30px;
  border: 2px solid black;
  background: transparent;
}
.reshuffles {
  font-size: 2em;
  color: white;
}
button:active {
  box-shadow: none;
  transform: translate(0, 10px);
}
.reset {
  margin-right: 10px;
}
.copy {
  margin-left: 10px;
  word-break: normal;
  font-size: 18px;
}
.search {
  margin: 15px;
  font-size: 1.8em;
  border-radius: 10px;
}
.searchlabel {
  font-size: 1.8em;
  color: white;
}
.searched {
  background-color: rgb(102, 146, 242);
}
.inputcont {
  display: flex;
  align-items: center;
}
.title {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8em;
  color: white;
}
@media (device-width <= 980px) {
  .items {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .reshuffles {
    font-size: 1.2em;
  }
  .priorinput {
    text-align: center;
    font-size: 1.2em;
  }
  .reset, .shuffle, .copy{
    font-size: 1.4em;
    width: 100px;
    height: 100px;
  }
  .copy {
    font-size: 1em;
  }
  .searchcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont {
    padding: 0;
    width: 92%;
  }
  .tablename {
    max-width: 200px;
  }
  .sncont {
    width: 60vw;
  }
  label {
    font-size: 0.8em;
  }
}